<h2>Contact details</h2>
<span class="glyphicon glyphicon-envelope"></span> Email me at <span class="mail">louisportier@ymail.com</span><br>
<span class="glyphicon glyphicon-home"> </span> Send a mail to this address: <br>		
<span class="address">
	64 Lang Road<br>
	2021 Centenial Park<br>
	Sydney<br>
<span class="glyphicon glyphicon-earphone"></span> 0423769596
</span>