// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products{
	padding-top:10px;
}

.productName{
	font-size:25px;
	font-weight: bold;
}

.productDesc{
	font-style:italic;
}

.productPrice{
	font-weight: bold;
}

div#theBody{
	margin:35px;
}

#theBody>form{
	background-color:#2f3638;
	width:50%;
	padding:20px;
}

#theBody>div>form{
	background-color:#2f3638;
	width:50%;
	padding:20px;
}

label{
	color:white;
}