// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$height-footer: 60px;

*{
	box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
  body {
    margin-bottom: $height-footer;
  }
  #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $height-footer;
    background-color: #222;
    color:#fff;
    .footer-block {
      margin: 20px 0;
    }
  }
}

body{
	padding-top:50px;
	background-color: #fffeea;
}

div#theBody{
	margin:35px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.img-responsive{
	background-color: #fffeea;
}

nav{
	background-color: #333;
}

.pull-right>li{
  float: left;
}

.pull-right>li>a{
	color:white;
  padding:15px;
}
.pull-right>li>a:hover{
	background-color:#333;
}

li>form>label{
  float: left;
  margin:0px;
  padding-right: 10px;
}

li>form{
  padding:15px;
}

.louisPortfolio{
	text-transform: uppercase;
}

.louisPortfolio a{
	color: white;
}

#product{
  text-align:Center;
  padding-right:10px;
}

#productInfo{
  text-align:left;
  display:inline-block;
}

.productImage{
  display:inline-block;
  padding-right:15px;
}

.addReview{
  width: 50%;
}