<%= link_to 'New Product', new_product_path, class: 'btn btn-default pull-right' %>


<div class="container anchor" id="productList">
      <div class="row">
        <div class="headerTitle">
          <div class="header">
            <h1>List of products</h1>
          </div><br/>
        </div>
          <%= render @products %>
      </div>
    </div>


<br>

